* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* header */
header {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    width: 100vw;
    color: rgb(170, 162, 162);
    box-shadow: 0rem 0.5rem 0.5rem gray;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo h1 {
    font-size: 2rem;
    padding-left: 1.5rem;
}
header img {
    height: 8rem;
    width: 8rem;
}
.header__center-title {
    display: flex;
    align-items: center;
}
.header__nav {
    display: flex;
    align-items: center;
}
.header__nav li {
    display: inline-block;
    padding: 0.5rem;
    list-style: none;
}
.header__nav a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(170, 162, 162);
}
/* main */
.container {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}
.lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.choice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
    height: 40rem;
    margin: 2rem;
    border: 0.05rem solid grey;
    border-radius: 1.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem grey;
}
h1 {
    font-size: 4rem;
}
.Papel img {
    width: 22rem;
    height: 25rem;
}
.Tijeras img {
    width: 22rem;
    height: 25rem;
}
img:hover {
    cursor: pointer;
}
input:hover {
    cursor: pointer;
}
/* footer */
footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
}
.footer__nav {
    display: flex;
    align-items: center;
}
.footer__nav li {
    display: inline-block;
    list-style: none;
    padding: 0.5rem;
    margin: 2rem 1.5rem;
}
.footer__nav a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}